
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientInfo</title>
</head>
<body>
    <div id="main_container">
        <div class="header">
            <div id="logo">

                <a href="index.html"><img src="~/images/logo.png" alt="" title="" width="162" height="54" border="0" /></a>
                <span style="float:right;text-align:center;margin-left:230px;margin-bottom:5px;padding-top:10px;font-size:20px;">用户注册</span>
            </div>
        </div>
        <div style="height:400px;background-color:#92dafe;margin-bottom:10px;margin-top:10px;">
            <div style="margin:0 auto;height:auto;width:400px;padding-top:120px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名:</label>
                    <div class="layui-input-inline"> 
                        <input type="text" name="title" id="UserName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" id="UserName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" id="UserName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号码:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" id="UserName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" id="UserName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">有无过敏史:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" id="UserName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="Add()">账号注册</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
        <div id="middle_box">
            <div class="middle_box_content"><img src="~/images/banner_content.jpg" alt="" title="" /></div>
        </div>
    </div>
</body>
</html>
