
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientLoginShow</title>
</head>
<body>
    <div> 
        这是登陆界面
    </div>
</body>
</html>
