
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @*页面布局*@
    <link href="~/Content/iecss.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @*弹出窗口查找*@
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <link href="~/Content/loginDialog.css" rel="stylesheet" />
    <title>Registered</title>
    <script type="text/javascript">
        $(function ($) {
            //弹出登录
            $("#example").hover(function () {
                $(this).stop().animate({
                    opacity: '1'
                }, 600);
            }, function () {
                $(this).stop().animate({
                    opacity: '0.6'
                }, 1000);
            }).on('click', function () {
                $("body").append("<div id='mask'></div>");
                $("#mask").addClass("mask").fadeIn("slow");
                $("#LoginBox").fadeIn("slow");
            });
            //
            //按钮的透明度
            $("#loginbtn").hover(function () {
                $(this).stop().animate({
                    opacity: '1'
                }, 600);
            }, function () {
                $(this).stop().animate({
                    opacity: '0.8'
                }, 1000);
            });
            //文本框不允许为空---按钮触发
            $("#loginbtn").on('click', function () {
                var txtName = $("#txtName").val();
                var txtPwd = $("#txtPwd").val();
                if (txtName == "" || txtName == undefined || txtName == null) {
                    if (txtPwd == "" || txtPwd == undefined || txtPwd == null) {
                        $(".warning").css({ display: 'block' });
                    }
                    else {
                        $("#warn").css({ display: 'block' });
                        $("#warn2").css({ display: 'none' });
                    }
                }
                else {
                    if (txtPwd == "" || txtPwd == undefined || txtPwd == null) {
                        $("#warn").css({ display: 'none' });
                        $(".warn2").css({ display: 'block' });
                    }
                    else {
                        $(".warning").css({ display: 'none' });
                    }
                }
            });
            //文本框不允许为空---单个文本触发
            $("#txtName").on('blur', function () {
                var txtName = $("#txtName").val();
                if (txtName == "" || txtName == undefined || txtName == null) {
                    $("#warn").css({ display: 'block' });
                }
                else {
                    $("#warn").css({ display: 'none' });
                }
            });
            $("#txtName").on('focus', function () {
                $("#warn").css({ display: 'none' });
            });
            //
            $("#txtPwd").on('blur', function () {
                var txtName = $("#txtPwd").val();
                if (txtName == "" || txtName == undefined || txtName == null) {
                    $("#warn2").css({ display: 'block' });
                }
                else {
                    $("#warn2").css({ display: 'none' });
                }
            });
            $("#txtPwd").on('focus', function () {
                $("#warn2").css({ display: 'none' });
            });
            //关闭
            $(".close_btn").hover(function () { $(this).css({ color: 'black' }) }, function () { $(this).css({ color: '#999' }) }).on('click', function () {
                $("#LoginBox").fadeOut("fast");
                $("#mask").css({ display: 'none' });
            });
        });


        //绑定一级下拉列表
        $(function () {
            $.ajax({
                url: "http://localhost:55253/API/Nurse/AdministrativeShow",
                type: "get",
                success: function (data) {
                    $(data).each(function () {
                        $("#txtAdm_Name").append("<option value=" + this.Adm_Id + ">" + this.Adm_Name + "</option>");
                    })
                }
            })
        })
        //绑定二级下拉列表
        function Docoter() {
            var id = $("#txtAdm_Name").val();
            $.ajax({
                url: "http://localhost:55253/API/Nurse/DoctorShow?admId=" + id,
                type: 'get',
                success: function (data) {
                    $('#txtDoc_Name').empty().append("<option>请选择医生</option>");
                    $(data).each(function () {
                        var option = "<option value='" + this.Doc_Id + "'>" + this.Doc_Name + "</option>";
                        $('#txtDoc_Name').append(option);
                    })
                }
            })
        }
        //查询病人信息
        function AtientQuery() {
            
            var phone = $("#txtPhone").val();
            $.ajax({
                url: "http://localhost:55253/API/Nurse/PatientShow?phone=" + phone,
                type: "get",
                dataType: "json",
                success: function (data) {
                    $(data).each(function () {
                        if (data != null) {
                            $("#txtPat_Id").val(this.Pat_Id)
                            $("#txtPat_Name").val(this.Pat_Name)
                            $("#txtPat_Sex").val(this.Pat_Sex)
                            $("#txtPat_Age").val(this.Pat_Age)
                            $("#txtPat_Phone").val(this.Pat_Phone)
                            $("#txtPat_Sfz").val(this.Pat_Sfz)
                        }
                        else {
                            alert("查无此人");
                        }
                    })
                }
            })
        }
        //挂号
        function UpLogin() {
            var login = new Object();
            login.Pat_Id = $("#txtPat_Id").val();
            login.Reg_Time = @(DateTime.Now.ToString("yyyy-MM-dd"));
            login.Adm_Id = $("#txtAdm_Name").val();
            login.Doc_Id = $("#txtDoc_Name").val();
            login.Reg_Type = 0;
            $.ajax({
                url: "http://localhost:55253/API/Nurse/PatientLoginAdd?re=" + JSON.stringify(login),
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data > 0) {
                        alert("挂号成功(#^.^#)");
                    }
                    else {
                        alert("挂号失败o(╥﹏╥)o");
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div id="LoginBox">
        <div class="row1">
            病人查询<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
        <div class="row">
            手机号: <span class="inputBox">
                <input type="text" id="txtPhone" placeholder="病人手机号" />
            </span>
        </div>
        <div class="row">
            <a href="#" id="loginbtn" onclick="AtientQuery()">搜索</a>
        </div>
    </div>
    <div id="main_container">
        <div class="header">
            <div id="logo"><a href="~/Nurses/PatientQuery"><img src="~/images/logo.png" alt="" title="" width="162" height="54" border="0" /></a></div>
            <div class="right_header">
                <div class="top_menu">
                    <a href="~/Nurse/Login" class="login" onclick="LoginLayer()">登陆</a>
                    <a href="#" class="sign_up" onclick="RegisterLayer()">注册</a>
                </div>
                @*导航栏*@
                <div id="menu">
                    <ul>
                        <li><a href="~/Nurse/PatientQuery" title="">主页</a></li>
                        <li><a class="current" href="~/Nurse/Registered" title="">挂号</a></li>
                        <li><a href="~/Nurse/" title="">其他服务</a></li>
                        <li><a href="~/Nurse/" title="">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="middle_box">

            <a href="#" id="example">查询病人信息</a>
            <hr />
            <a href="#" id="example" onclick="UpLogin()">挂 &nbsp;&nbsp; 号</a>
        </div>
        <hr />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="Pat_middle">
            <table id="tb1">
                <tr>
                    <td>
                        <div class="row">
                            病人号码: <span class="inputBox">
                                <input class="text" type="text" id="txtPat_Id" placeholder="病人名称" />|
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            病人姓名: <span class="inputBox">
                                <input class="text" type="text" id="txtPat_Name" placeholder="病人名称" />|
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            病人年龄: <span class="inputBox">
                                <input class="text" type="text" id="txtPat_Age" placeholder="病人年龄" />|
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            病人性别: <span class="inputBox">
                                <input class="text" type="text" id="txtPat_Sex" placeholder="病人性别" />|
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            联系方式: <span class="inputBox">
                                <input class="text" type="text" id="txtPat_Phone" placeholder="联系方式" />|
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            身份证号: <span class="inputBox">
                                <input class="text" type="text" id="txtPat_Sfz" placeholder="联系方式" />|
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            医生科室: <span class="inputBox">
                                <select id="txtAdm_Name" class="text" onchange="Docoter()">
                                    <option>请选择科室</option>
                                </select>|
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            医生姓名: <span class="inputBox">
                                <select id="txtDoc_Name" class="text">
                                    <option>请选择医生</option>
                                </select>|
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
