
@{
    Layout = null;
}
@using MedicalClinicKHD.Models;
@model Returnrecord
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <title>AddReturnrecord</title>
</head>
<body>
    @using (Ajax.BeginForm("SaveAddReturnrecord", new AjaxOptions { OnSuccess = "fun" }))
    {
    <div>
        @Html.HiddenFor(m => m.Doc_Id)
        @Html.HiddenFor(m => m.Reg_Id)
        <table>
            <tr>
                <td>回访情况</td>
                <td>@Html.TextAreaFor(m => m.Rer_Remake)</td>
            </tr>
        </table>
        <input id="Submit1" type="submit" value="结束" />
        <input id="Submit1" type="button" value="返回" onclick="CloseLeyer()" />
    </div>
    }
</body>
</html>
<script>
    $(function () {
        var url = document.location.toString();
        var id = url.indexOf("=");
        var str = url.substr(id + 1, 1);
        var id1 = url.lastIndexOf("=");
        var str2 = url.substr(id1 + 1, 1);
        $("#Doc_Id").val(str);
        $("#Reg_Id").val(str2);
    })
    function fun(a) {
        alert(a)
    }
    function CloseLeyer() {
        var index = parent.layer.getFrameIndex(window.name); parent.layer.close(index);
        parent.window.location.href = '/Doctor/GetOldRegistration';
    } 
</script>