
@{
    Layout = null;
}
@using MedicalClinicKHD.Models;
@model Doctorecord
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <title>Doctorecord</title>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("AddAndChangeZc", new AjaxOptions { OnSuccess = "fun" }))
        {

            <table>
                @Html.HiddenFor(m => m.Pat_Id)
                <tr>
                    <td>诊断说明 </td>
                    <td> @Html.TextAreaFor(m => m.Dcr_Remake);</td>
                </tr>
                <tr>
                    <td>药品 </td>
                    <td> @Html.TextAreaFor(m => m.Dr_Name);</td>
                </tr>
            </table>
            <input id="Submit1" type="submit" value="结束" />
            <input id="Submit1" type="button" value="返回" onclick="location.href='/Doctor/Registration'"  />
        }
    </div>
</body>
</html>
<script>
    $(function () {
        var url = document.location.toString();
        var id = url.indexOf("=");
        var str = url.substr(id + 1, 1);
        $("#Pat_Id").val(str);
    })
    function fun(a) {
        alert(a);
    }
</script>