
@{
       Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/Scripts/layer.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/iecss.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>MedicalClinic</title>
    <script>

    </script>
</head>
<body>
    <div id="main_container">
        <div class="header">
            <div id="logo">

                <a href="index.html"><img src="~/images/logo.png" alt="" title="" width="162" height="54" border="0" /></a>
                <span style="float:right;text-align:center;margin-left:230px;margin-bottom:5px;padding-top:10px;font-size:20px;">就诊界面</span>
            </div>
        </div>
        <div style="height:400px;background-color:#92dafe;margin-bottom:10px;margin-top:10px;">
        </div>
        <div id="middle_box">
            <div class="middle_box_content"><img src="~/images/banner_content.jpg" alt="" title="" /></div>
        </div>



    </div>
</body>
</html>
<script>
    function fun(a) {
        alert(a);
        location.href = "/Doctor/Registration";
    }
</script>
